  <section class="content" id="about">
      <div class="block-content">
          <h3 class="block-title">Perfil</h3>
          <h3 class="subheading">¡Hola! soy Gustavo Olivera <strong>Fullstack Developer</strong></h3>
          <p>Soy estudiante de la Tecnicatura Universitaria en Programación en la UTN-FRC, apasionado por la informática y dedicado a seguir aprendiendo y creciendo profesionalmente. Actualmente, me desempeño como full-stack developer, utilizando tecnologías como .NET CORE para el backend, Java con Spring Framework, y Angular para el frontend, además de otras librerías relacionadas.
            Mi experiencia incluye sólidos conocimientos en el desarrollo de aplicaciones en microservicios con Java, así como en la construcción de aplicaciones monolíticas. Me destaco por mi enfoque en la utilización de patrones de arquitectura y diseño, priorizando un código limpio y reutilizable.
            Adicionalmente, cuento con experiencia en la implementación de metodologías ágiles, como Scrum, para facilitar un trabajo en equipo eficiente. Estoy entusiasmado por contribuir al mundo de la tecnología y seguir creciendo en mi trayectoria profesional.</p>
          <div class="info-list row">
              <div class="col-sm-6"><span>Nombre : </span> Gustavo Olivera</div>
              <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Julio 26, 2001 </div>
              <div class="col-sm-6"><span>Dirección : </span> Argentina, Córdoba, Unquillo.</div>
              <div class="col-sm-6"><span>Email : </span> olivera.c.gustavo&#64;gmail.com</div>
              <div class="col-sm-6"><span>Telefono : </span> + 54 351 3291100</div>
              <div class="col-sm-6"><span>Interes : </span> Frelance, Full-Time</div>
          </div>
      </div>
      <div class="block-content">
        <h3 class="block-title">Educación</h3>
        <div class="timeline education">
          <div class="row">
            <div class="col-md-12">
              <div class="exp-holder">
                <div class="exp">
                  <div class="hgroup">
                    <h3>Tecnico Universitario en Programacion</h3>
                    <h5>Universidad Tecnologica Nacional - FRC | Enero 2022 - En curso</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="block-content">
        <h3 class="block-title">Servicios</h3>
        <div class="row">
          <div class="col-md-4 col-sm-6 service">
            <div class="service-icon">
              <i class="ion-laptop"></i>
            </div>
            <h4>Diseño Web</h4>
            <p>Diseño y desarrollo de sitios web modernos y atractivos que se adaptan a tus necesidades.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
            <div class="service-icon">
              <i class="ion-pie-graph"></i>
            </div>
            <h4>Desarrollo de Aplicaciones</h4>
            <p>Desarrollo de aplicaciones personalizadas que se ajustan a tus requerimientos y objetivos.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
            <div class="service-icon">
              <i class="ion-cube"></i>
            </div>
            <h4>Domain-Driven Design (DDD) y UML</h4>
            <p>Análisis de dominio, identificación de requerimientos, y modelado de sistemas utilizando Domain-Driven Design y UML para garantizar una arquitectura sólida y una comprensión clara de los casos de uso.</p>
          </div>
        </div>
      </div>
      
      <div class="row text-center">
          <div class="col-md-12 btn-email">
              <a class="btn lowercase">olivera.c.gustavo&#64;gmail.com</a>
          </div>
      </div>
  </section>
