<div style="height: 100px;"></div>
<div class="block-content">
    <h3 class="block-title">Proyectos</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="portfolio-container row isotope" id="portfolio-container">
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork" *ngFor="let repo of repositorios">
            <a [href]="repo.html_url" (click)="openInNewTab(repo.html_url, $event)">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>{{ repo.name }}</h2>
                    <hr>
                    <p>{{ repo.description }}</p>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img class="portfolio-image" src="assets\images\portfolio\full-width\github-6980894_1280.webp" alt="imagen" style="padding: 10px;">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
