<section class="content" id="skills">
    <div class="block-content">
        <h3 class="block-title">Habilidades Tecnológicas</h3>

        <!-- Sección de habilidades tecnológicas -->
        <div class="info-list row">
            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/javaspring.jpg" alt="Java Logo" width="150" height="150px" style="border-radius: 20%;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">Java & Spring Boot</h4>
                        <p>Avanzado</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/NET_Core_Logo.svg.png" alt=".NET Logo" style="border-radius: 50%; width: 100px; height: 100px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">.NET Core</h4>
                        <p>Avanzado</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/Angular_logo.svg.png" alt="Angular Logo" style="border-radius: 20%; width: 110px; height: 110px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">Angular</h4>
                        <p>Intermedio</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/tsql.png" alt="T-SQL Logo" style="border-radius: 20%; width: 100px; height: 100px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">T-SQL</h4>
                        <p>Intermedio</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/bdsql.png" alt="SQL Logo" style="border-radius: 20%; width: 120px; height: 120px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">Bases de datos SQL</h4>
                        <p>Avanzado</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/javascript-1.svg" alt="JavaScript Logo" style="border-radius: 20%; width: 100px; height: 100px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">JavaScript</h4>
                        <p>Intermedio</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/docker.svg" alt="Docker Logo" style="border-radius: 20%; width: 110px; height: 110px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">Docker</h4>
                        <p>Intermedio</p>
                    </div>
                </div>
            </div>

        </div>

        <h3 class="block-title" style="margin-top: 40px;">Habilidades Técnicas</h3>

            <!-- Sección de habilidades técnicas -->
        <div class="info-list row">
            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/scrum.png" alt="Gestión de Proyectos Logo" style="border-radius: 20%; width: 110px; height: 110px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">Metodologías Ágiles</h4>
                        <p>Avanzado</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/uml.png" alt="UML Logo" style="border-radius: 20%; width: 110px; height: 110px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">UML</h4>
                        <p>Intermedio</p>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="block-title" style="margin-top: 40px;">Idiomas</h3>

        <!-- Sección de Idiomas -->
        <div class="info-list row">
            <!-- Ingles -->
            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/portfolio/full-width/ingles.jpg" alt="Ingles" style="border-radius: 20%; width: 110px; height: 110px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">Inglés</h4>
                        <p>Intermedio</p>
                    </div>
                </div>
            </div>
            <!-- Español -->
            <div class="col-md-4">
                <div class="skill-item">
                    <div class="skill-icon" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets\images\portfolio\full-width\espanol.png" alt="Español" style="border-radius: 20%; width: 110px; height: 110px;">
                    </div>
                    <div class="skill-details" style="text-align: center;">
                        <h4 style="margin-top: 10px;">Español</h4>
                        <p>Nativo</p>
                    </div>
                </div>
            </div>
       
    </div>
    </div>
</section>
